.product-item {
    --border-radius: 10px;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 5rem;
  }

  .total-value{
    font-size: 2em;
    color: #D33333;
    font-weight: bold;
    padding-left: 2.2em;
  }